html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
}

:root {
	--black: #010101;
	--lightblack: #1f1f1f;
	--blue: #1e90ff;
	--bannerwhite: #f2f2f2;
	--white: #b0b0b0;
	--orange: #c66a17;
	--teal: #0e918d;
}


.banner {
	background: var(--black);

	.image {
		min-height: 240px;
		height: auto;
		width: 100%;
	}

	.info {
		position: absolute;
		top: 20px;
		left: 20px;
		color: var(--bannerwhite);

		.info-big {
			font-size: 4vw;
			margin-top: 2%;
		}

		.info-small {
			font-size: 2vw;
		}

		.btn {
			margin-top: 20px;
		}


	}

}


.content {
	background: black;
}




.btn:hover {
	/* border: 1px solid var(--white); */
	color: var(--white);
	background-color: var(--black);
}

.btn {
	padding: 10px 20px;
	font-size: 4vw;
	background-color: #fd9400;
	color: white;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 5px;
	animation: LearnMoreBtn 1.5s ease 0s 1 normal forwards;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.banner-text {
	font-family: Nunito;
	font-weight: 700;
	font-size: 4em;
	line-height: 72px;
	margin-bottom: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	/* Adding drop shadow */
}

.body-text {
	font-size: 43px;
	max-width: 80%;
	margin: 0 auto 30px auto;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	/* Adding drop shadow */
}


/* Styling for "What is this service?" Section */
#what-is-service {
	/* background: linear-gradient(to bottom, #459868, #1cb566); */
	/* Gradient background */
	color: var(--white);
	padding: 100px;
	text-align: left;
	/* margin: auto; */
}

#what-is-service h2 {
	font-size: 3vw;
	/* font-size: 3em; */
	/* max-width: 1000px; */
	color: var(--orange);
	max-width: 80%;
	margin: auto;
	text-align: left;
	margin-bottom: 45px;
}

#what-is-service p {
	font-size: 2vw;
	/* font-size: 24px; */
	line-height: 1.2;
	max-width: 80%;
	margin: auto;
}

/* Styling for Features Section */
.features {
	padding: 10px;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	background: var(--lightblack);
	font-size: 20px;
	color: var(--white);
}

.features-font-title {
	font-weight: 1900;
	font-size: 3vw;
}

.features-font-tagline {
	font-size: 1.5vw;
	font-weight: 500;
	margin-bottom: 50px;
}


.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.feature-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20%;
	/* Adjust the width as needed */
	margin: 0.4%;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	transition: transform 0.3s ease;
	/* background: linear-gradient(to bottom, #1cb566, #d57d2b); */
	background: linear-gradient(to bottom, #9a9a9a, #5a5a5a);
	box-shadow: 3px 3px 20px 4px black;
	color: var(--black);
}

.feature-item:hover {
	transform: translateY(-10px);
}

.feature-item h3 {
	margin-bottom: 10px;
	font-size: 2vw;
}

.feature-image {
	width: 80px;
	/* Adjust image size as needed */
	height: 80px;
	/* Adjust image size as needed */
	border-radius: 50%;
	/* Make the image round */
	object-fit: cover;
	margin-bottom: 10px;
}

.feature-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	/* Adjust icon size as needed */
	height: 30px;
	/* Adjust icon size as needed */
}

.price {
	font-size: 24px;
	margin-bottom: 10px;
}

.original-price {
	text-decoration: line-through;
	color: #999;
	margin-right: 5px;
}

.purchase-btn {
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 24px;
	background-color: var(--teal);
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}

.purchase-btn:hover {
	background-color: #45a049;
}

.testimonial p {
	margin-bottom: 10px;
}

/* Styling for Start Your Journey Today Section */
.start-journey {
	/* background: linear-gradient(to bottom, #fd9400, #c66a17); */
	background: var(--lightblack);
	/* Gradient background */
	color: white;
	padding: 100px;
	text-align: center;
}

.start-journey h2 {
	margin-bottom: 20px;
}


/* .start-journey .btn:hover { */
/* 	background-color: white; */
/* 	color: #fd9400; */
/* } */


/* Styling for Footer */
footer {
	background: var(--black);
	/* Gradient background */
	color: white;
	padding: 20px;
	display: flex;
	justify-content: center;
	/* Center the items horizontally */
	flex-wrap: wrap;
	/* Allow items to wrap if the screen is too small */
}

.support-links,
.contact-card {
	flex-basis: 80%;
	/* Set a larger flex-basis for better centering */
	max-width: 400px;
	/* Limit the maximum width of each section */
	text-align: center;
	/* Center the text inside each section */
	margin-bottom: 50px;
	/* Add some bottom margin for spacing */
}

.support-links h3,
.contact-card h3 {
	margin-bottom: 20px;
}

.support-links ul {
	list-style-type: none;
	padding: 0;
}

.support-links ul li {
	margin-bottom: 10px;
}

.support-links ul li a {
	color: white;
	text-decoration: none;
}

.support-links ul li a:hover {
	text-decoration: underline;
}

.contact-card p {
	margin-bottom: 10px;
}

/* Styling for "How to Access" Section */
#how-to-access {
	background: var(--lighttodark);
	color: white;
	padding: 50px;
	text-align: center;
}

#how-to-access h2 {
	margin-bottom: 20px;
	font-size: 2.5em;
}

#how-to-access p {
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 20px;
}

#how-to-access pre {
	background-color: #292929;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	overflow-x: auto;
}

#how-to-access pre code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1.5vw;
}

#how-to-access pre code::selection {
	background-color: rgba(255, 255, 255, 0.1);
}

#how-to-access pre::-webkit-scrollbar {
	width: 12px;
}

#how-to-access pre::-webkit-scrollbar-thumb {
	background-color: #fd9400;
	border-radius: 10px;
}

#how-to-access pre::-webkit-scrollbar-track {
	background-color: #1e1e1e;
}



/* Animations */
@keyframes LearnMoreBtn {
	0% {
		transform: scale3d(1, 1, 1) translateX(-50px);
		opacity: 0;
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1) translateX(0);
		opacity: 1;
	}
}
